{% extends "Detail.html" %}
{% load static %}
{% block style %} 
<link rel='stylesheet' href="{% static 'Update10.css' %}">
{% endblock style %}
{% block title %}
    <title>Updating {{course.title}} course</title>
{% endblock title %}
{% block main %}
<br><br><br><br><br><br><br><br><br><br><br><br>
    <main>
        <h1>Upgrade the item: {{course.title}} course</h1>
        <form method='POST' action=''>
            {% csrf_token %}
            {{form.as_p}}
            <a href='/Detail/{{course.id}}'>Cancelll !!!</a>
            <a href='/Delete/{{course.id}}'>Wanna delete the {{course.title}} Course???</a>
            <input type='submit' value='Update'>
        </form>
    </main>
{% endblock main %}
{% block footer %}
<footer>
    <a href='/Courses/'>🏟️ Courses</a>
</footer>
{% endblock footer %}