*,*:before,*:after{
    box-sizing: border-box;
}
body,html{
    height: 70%;
    font-family: 'Press Start 2P', sans-serif;
    background-color: rgb(27, 66, 66);
    color: rgb(158, 200, 185);
}
[href='/Form/']{
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
    background-color: rgb(100, 204, 197);
    border-radius: 5px;
    padding: 20px 30px;
    transition: background-color .5s ease-in-out;
}

[href='/Form/']:hover{
    background-color: rgb(4, 54, 74);
    width: 200px;
}
header{
    position: absolute;
    right: 0;
    top: 0;
    padding: 2% 6% 2% 100%;
    background-color: rgb(23, 107, 135);
    display: flex;
    flex-direction: row;
}
a{
    text-decoration: none;
}
form{
    margin: 20% 25%;
}
footer{
    gap: 10%;
    width: 100%;
    height: 20%;
    position: absolute;
    bottom: 0;
    padding: 5%;
    background-color: rgb(23, 107, 135);
    font-size: 130%;
}