{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% comment %} <link rel='stylesheet' href="{% static 'main5.css' %}"> {% endcomment %}
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <title>YouTube</title>
    <link rel="TubeIcon.ico" href='TubeIcon.ico'>
</head>
<body>
    <img src="https://github.com/JohnCard/Edteam/blob/master/YouTube/templates/TubeIcon.ico" alt="title">
</body>
</html>